#about-section {
    .side-container {
        display: flex; /* equal height of the children */
        height: 100%;
    }

    .sides {
        flex: 1; /* additionally, equal width */
        padding: 1em;
    }

    .code-design-master {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .code-design-content-master {
        align-self: center;
        height: $about-logo-dim;
        width: $about-logo-dim;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 100;
        opacity: 0.1;
    }

    #dark-side {
        @extend .code-design-master;
        background-color: $dark;
        display: flex;
        position: relative;
        .about-logo {
            background-image: url($logo);
            position: absolute;
            background-position: center;
            @extend .code-design-content-master;
        }
        .about-content {
            color: $light;
            font-family: $bRegular;
            position: absolute;
            left: 1em;
            top: 6.5em;
            font-size: 3vmin;
            transition: all 1s;
            @media all and (max-width: 276px){
                font-size: 4vmin;
            }
            h1 {
                font-family: $bBold;
                font-size: 6vmin;
                transition: all 1s;
                @media all and (max-width: 276px){
                    font-size: 10vmin;
                }
            }
            .toFlex {
                display: flex;
                .experience {
                    cursor: pointer;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    .content {
                        display: flex;
                        flex-direction: column;
                        span {
                            &:nth-of-type(1) {
                                transition: all 0.5s;
                            }
                        }
                    }
                    &:hover .content > p {
                        &:nth-of-type(1) .title {
                            background-color: $light;
                            color: $dark;
                            padding: 2px;
                        }
                        &:nth-of-type(2) .title {
                            background-color: $light;
                            color: $dark;
                            padding: 2px;
                        }
                    }
                }
                .talks {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    cursor: pointer;
                    z-index: 100;
                    .content {
                        display: flex;
                        flex-direction: column;
                        .a {flex: 1;}
                        .title {
                            transition: all 0.5s;
                        }
                    }
                    &:hover .content > p > .title {
                        background-color: $light;
                        color: $dark;
                        padding: 2px;
                    }
                }
            }
            .education {
                position: absolute;
                cursor: pointer;
                z-index: 100;
                p {
                    .title {
                        transition: all 0.5s;
                    }
                }
                &:hover p > .title {
                    background-color: $light;
                    color: $dark;
                    padding: 2px;
                }
            }
        }
    }

    #light-side {
        @extend .code-design-master;
        background-color: $light;
        .me {
            background-image: url($me);
            position: absolute;
            background-position: center;
            @extend .code-design-content-master;
            opacity: 0.5;
        }
        .me-content {
            z-index: 100;
            position: absolute;
            top: 6.5em;
            font-family: $bRegular;
            font-size: 3vmin;
            color: $dark;
            margin: 0 0.5em 0 0.5em;
            transition: all 1s;
            @media all and (max-width: 276px){
                font-size: 4vmin;
            }
            h1 {
                font-family: $bBold;
                font-size: 6vmin;
                transition: all 1s;
                @media all and (max-width: 276px){
                    font-size: 10vmin;
                }
            }
        }
    }
}
