#about-section {
    .side-container {
        display: flex; /* equal height of the children */
        height: 100%;
    }

    .sides {
        flex: 1; /* additionally, equal width */
        padding: 1em;
    }

    .code-design-master {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .code-design-content-master {
        align-self: center;
        height: $about-logo-dim;
        width: $about-logo-dim;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 100;
        opacity: 0.1;
    }

    #dark-side {
        @extend .code-design-master;
        background-color: $dark;
        .about-logo {
            background-image: url($logo);
            position: absolute;
            background-position: center;
            @extend .code-design-content-master;
        }
        .about-content {
            color: $light;
            font-family: $bRegular;
            position: absolute;
            left: 1em;
            top: 6.5em;
            font-size: 3vmin;
            transition: all 1s;
            @media all and (max-width: 276px){
                font-size: 4vmin;
            }
            h1 {
                font-family: $bBold;
                font-size: 6vmin;
                transition: all 1s;
                @media all and (max-width: 276px){
                    font-size: 10vmin;
                }
            }
        }
    }

    #light-side {
        @extend .code-design-master;
        background-color: $light;
        .me {
            // background-image: url($me);
            // position: absolute;
            // background-position: center;
            // background-size: contain;
            // @extend .code-design-content-master;
            // opacity: 0.5;
            // right: 0;
            background-image: url($me);
            position: absolute;
            background-position: center;
            @extend .code-design-content-master;
            opacity: 0.5;
        }
        .me-content {
            z-index: 100;
            position: absolute;
            top: 6.5em;
            font-family: $bRegular;
            font-size: 3vmin;
            color: $dark;
            margin: 0 0.5em 0 0.5em;
            transition: all 1s;
            @media all and (max-width: 276px){
                font-size: 4vmin;
            }
            h1 {
                font-family: $bBold;
                font-size: 6vmin;
                transition: all 1s;
                @media all and (max-width: 276px){
                    font-size: 10vmin;
                }
            }
        }
    }
}
