#contact-section {
    background-color: $dark;
    .contact-content {
        h1 {
            width: 100%;
            text-align: center;
            cursor: pointer;
            z-index: 100;
            margin: auto 0;
            position: absolute;
            height: auto;
            // text-align: center;
            font-family: $bBold;
            color: $light;
            font-size: 5vmin;
            @media all and (max-width: 400px) {
                font-size: 7vmin;
            }
        }
    }
}
