#contact-section {
    background-color: $dark;
    .contact-content {
        h1 {
            margin: auto 0;
            position: absolute;
            width: 100%;
            height: auto;
            text-align: center;
            font-family: $bBold;
            color: $light;
            font-size: 5vmin;
        }
    }
}
