@mixin animation($type, $speed, $range) {
    animation: $type $speed $range;
}
@mixin keyframes {
     @-webkit-keyframes blink{
        @content;
    }
    @-moz-keyframes blink {
         @content;
    }
    @-o-keyframes blink {
         @content;
    }
    @keyframes blink {
         @content;
    }
}
@mixin blur($blur) {
    filter: blur($blur);
}
@mixin scale($scale) {
    transform: scale($scale);
}
@mixin transition($type, $duration) {
    transition: $type $duration;
}
@mixin tooltip($title) {
    font-family: $bRegular;
    font-size: 4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light;
    content: $title;
    position: absolute;
    left: 0;
    background-color: $dark;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}
