#project-section {
    .side-container {
        display: flex;
        height: 100%;
    }

    .sides {
        flex: 1;
        padding: 1em;
    }

    .code-design-master {
        display: flex;
        justify-content: center;
    }

    .code-design-content-master {
        align-self: center;
        height: $design-code-dim;
        width: $design-code-dim;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 100;
    }

    #dark-side {
        @extend .code-design-master;
        background-color: $dark;
        .code {
            background-image: url($code);
            @extend .code-design-content-master;
            position: relative;
            &:hover:after {
                width: 100%;
            }
            &:after {
                content: " ";
                background-color: $light;
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 8px;
                width: 0;
                transition: all 0.5s ease;
                transform: translateX(-50%);
            }
        }
    }

    #light-side {
        @extend .code-design-master;
        background-color: $light;
        .design {
            background-image: url($design);
            @extend .code-design-content-master;
            position: relative;
            &:hover:after {
                width: 100%;
            }
            &:after {
                content: " ";
                background-color: $dark;
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 8px;
                width: 0;
                transition: all 0.5s ease;
                transform: translateX(-50%);
            }
        }
    }
}
