#skills-section {
    background-color: $dark;
    overflow: hidden;

    .category-master {
        font-family: $bBook;
        text-align: center;
        color: $light;
        font-size: 5vmin;
        @media all and (max-width: 400px) {
            font-size: 3.5vmin;
        }
    }

    .master-skill {
        position: relative;
        display: flex;
        z-index: 2;
        margin: 0.5em 0 0.5em 0;
        flex: 1;
    }

    .master-icon {
        height: 100%;
        width: 9vmin;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    }

    .master-skill-level {
        flex: 1;
        height: 7vmin;
        width: 100%;
        background-color: $light;
        @media all and (max-width: 400px) {
            height: 5vmin;
            width: 100%;
        }
    }

    .master-skill-level-val {
        height: 7vmin;
        width: 0px;
        background-color: $accent;
        @media all and (max-width: 400px) {
            height: 5vmin;
            width: 100%;
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        .column {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            .category {
                @extend .category-master;
            }
        }
    }

    .skill-htmlcss {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageHtml);
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("HTML5/CSS3");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-sass {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageSass);
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("SCSS");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-jquery {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageJquery);
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("jQuery");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-javascript {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageJs);
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("JavaScript");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-angularjs {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageAngular);
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("AngularJS");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-php {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imagePhp);
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("Procedural PHP");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-mysqli {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageMysqli);
            z-index: 2;
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("MySQLi");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-android {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageAndroid);
            z-index: 2;
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("Native Android");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-java {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageJava);
            z-index: 2;
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("Java");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-ai {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imageAi);
            z-index: 2;
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("Illustrator");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-ps {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imagePs);
            z-index: 2;
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("Photoshop");
            }
        }
        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-pug {
        @extend .master-skill;
        .skill-icon {
            @extend .master-icon;
            background-image: url($imagePug);
            z-index: 2;
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("PUG");
            }
        }

        .skill-level {
            @extend .master-skill-level;
            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    // OTHER SKILLS
    .tools {
        display: flex;
        .master-tools-icon {
            position: relative;
            height: 7vmin;
            width: 8vmin;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 1s;
            @media all and (max-width: 400px) {
                height: 4vmin;
                width: 4vmin;
            }
        }
        .skill-git {
            @extend .master-skill;
            justify-content: center;
            flex: 1;
            .skill-icon {
                @extend .master-tools-icon;
                background-image: url($imageGit);
            }
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("GIT");
                background-color: $light;
                color: $dark;
                z-index: 2;
            }
        }

        .skill-npm {
            @extend .master-skill;
            justify-content: center;
            flex: 1;
            .skill-icon {
                @extend .master-tools-icon;
                background-image: url($imageNpm);
            }
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("NPM");
                background-color: $light;
                color: $dark;
                z-index: 2;
            }
        }

        .skill-gulp {
            @extend .master-skill;
            justify-content: center;
            flex: 1;
            .skill-icon {
                @extend .master-tools-icon;
                background-image: url($imageGulp);
            }
            &:hover:after {
                opacity: 1;
            }
            &:after {
                @include tooltip("GULP");
                background-color: $light;
                color: $dark;
                z-index: 2;
            }
        }
    }
}
