#skills-section {
    background-color: $dark;

    .category {
        font-family: $bBook;
        text-align: center;
        color: $light;
        font-size: 5vmin;
        @media all and (max-width: 400px) {
            font-size: 3.5vmin;
        }
    }

    .master-skill {
        display: flex;
        border: 0.5em solid $dark;
    }

    .master-icon {
        margin-right: 0.5em;
        float: left;
        height: 7vmin;
        width: 9vmin;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .master-skill-level {
        float: left;
        height: 7vmin;
        width: 100%;
        background-color: $light;
        transition: all 1s;
        @media all and (max-width: 400px) {
            height: 5vmin;
            width: 100%;
        }
    }

    .master-skill-level-val {
        height: 7vmin;
        width: 0px;
        background-color: $accent;
        @media all and (max-width: 400px) {
            height: 5vmin;
            width: 100%;
        }
    }

    .skill-htmlcss {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageHtml);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-sass {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageSass);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-jquery {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageJquery);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-javascript {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageJs);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-angularjs {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageAngular);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-php {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imagePhp);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-mysqli {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageMysqli);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-android {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageAndroid);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-java {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageJava);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-ai {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imageAi);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-ps {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imagePs);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    .skill-pug {
        @extend .master-skill;

        .skill-icon {
            @extend .master-icon;
            background-image: url($imagePug);
        }

        .skill-level {
            @extend .master-skill-level;

            .skill-level-val {
                @extend .master-skill-level-val;
            }
        }
    }

    // OTHER SKILLS
    .tools {

        .skill-git {
            @extend .master-skill;
            display: inline-block;

            .skill-icon {
                height: 8vmin;
                width: 8vmin;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url($imageGit);
                transition: all 1s;
                @media all and (max-width: 400px) {
                    height: 4vmin;
                    width: 4vmin;
                }
            }

        }

        .skill-npm {
            @extend .master-skill;
            display: inline-block;

            .skill-icon {
                height: 10vmin;
                width: 10vmin;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url($imageNpm);
                transition: all 1s;
                @media all and (max-width: 400px) {
                    height: 4vmin;
                    width: 4vmin;
                }
            }
        }

        .skill-gulp {
            @extend .master-skill;
            display: inline-block;

            .skill-icon {
                height: 8vmin;
                width: 8vmin;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url($imageGulp);
                transition: all 1s;
                @media all and (max-width: 400px) {
                    height: 4vmin;
                    width: 4vmin;
                }
            }
        }
    }


}
