//=========== FONTFACE
@font-face {
    font-family: "bebasBold";
    src: url("../fonts/bebasneue/BebasNeue Bold.otf");
}
@font-face {
    font-family: "bebasBook";
    src: url("../fonts/bebasneue/BebasNeue Book.otf");
}
@font-face {
    font-family: "bebasLight";
    src: url("../fonts/bebasneue/BebasNeue Light.otf");
}
@font-face {
    font-family: "bebasRegular";
    src: url("../fonts/bebasneue/BebasNeue Regular.otf");
}
@font-face {
    font-family: "bebasThin";
    src: url("../fonts/bebasneue/BebasNeue Thin.otf");
}
//=========== FONTS
$bBold: "bebasBold";
$bBook: "bebasBook";
$bLight: "bebasLight";
$bRegular: "bebasRegular";
$bThin: "bebasThin";
//=========== COLORS
$dark: #181C1D;
$light: #ECF0F1;
$accent: #BDC3C7;
//=========== PATHS
$imageTop: "../images/noise-transparent.png";
$imageBack: "../images/noise-transparent.png";
$code: "../images/code.svg";
$design: "../images/design.svg";
$imageHtml: "../images/htmlcss.svg";
$imageSass: "../images/sass.svg";
$imageJquery: '../images/jquery.svg';
$imageJs: "../images/javascript.svg";
$imageAngular: "../images/angularjs.svg";
$imagePhp: "../images/php.svg";
$imageMysqli: "../images/mysqli.svg";
$imageAndroid: "../images/android.svg";
$imageJava: "../images/java.svg";
$imageAi: "../images/ai.svg";
$imagePs: "../images/ps.svg";
$imageSass: "../images/sass.svg";
$imageNpm: "../images/npm.svg";
$imageGulp: "../images/gulp.svg";
$imageGit: "../images/git.svg";
$imagePug: "../images/pug.svg";
$imageCordova: "../images/cordova.svg";
$imageSwift: "../images/swift.svg";
$imageLaravel: "../images/laravel.svg";
//=========== VALUES
$staticFontSize: 20vmin;
$dynamicFontSize: 12vmin;
$masterHeight: 7.7em;
$masterWidth: 20%;
$design-code-dim: 39vmin;
