include _mixins.pug
div.toType
    p Front End <span class="emp">Web Developer</span>
    p Aspiring <span class="emp">Graphic Designer</span>
    p <span class="emp">Full Stack</span> Wanna Be
    p This is my <span class="emp">Story</span>

div.logo
    a(href = "#intro"): include ./assets/images/logo.svg
    
div.button_container#toggle
    span.top
    span.middle
    span.bottom

div.overlay#overlay
    nav.overlay-menu
        ul
            li: a(href = "#intro", alt = "What I am, what I wanted to be and what I'm going to be.") Intro
            li: a(href = "#projects", alt = "Projects developed by Art.") Projects
            li: a(href = "#skills", alt = "List of Art's current skills.") Skills
            li: a(href = "#about", alt = "About Art") About
            li: a(href = "#contact", alt = "asd.artsandiego@gmail.com") Contact
