include _mixins.pug
div.toType
    p Freelance <span class="emp">Front End Web Developer</span>
    p Aspiring <span class="emp">UX/UI Designer</span>
    p This is my <span class="emp">Story</span>

div.logo
    a(href = "#intro"): include ./assets/images/logo.svg
    
div.button_container#toggle
    span.top
    span.middle
    span.bottom

div.overlay#overlay
    nav.overlay-menu
        ul
            li: a(href = "#intro") Intro
            li: a(href = "#projects") Projects
            li: a(href = "#skills") Skills
            li: a(href = "#about") About
            li: a(href = "#contact") Contact
