div.side-container
    div.awesm-header Projects
    div#code
        div.code-content
            div.code-blocks
                h1 S
            div.code-blocks
                h1 O
            div.code-blocks
                h1 O
            div.code-blocks
                h1 N
    div#design
        div.design-content
            div.design-blocks
                h1 S
            div.design-blocks
                h1 O
            div.design-blocks
                h1 O
            div.design-blocks
                h1 N

    div.sides#dark-side
        div(class = "code wow animated fadeInUp")
    div.sides#light-side
        div(class = "design wow animated fadeInDown")