include _mixins.pug
div.container-fluid
    div.awesm-header Skills
    div(class = "row flex")
        div(class = "column")
            h1.category Front End
            div.skill-htmlcss
                +skills-properties
            div.skill-sass
                +skills-properties
            div.skill-jquery
                +skills-properties
            div.skill-javascript
                +skills-properties
            div.skill-angularjs
                +skills-properties
        div(class = "column")
            h1.category Back End
            div.skill-php
                +skills-properties
            div.skill-mysqli
                +skills-properties
            h1.category Mobile | OOP
            div.skill-android
                +skills-properties
            div.skill-java
                +skills-properties
        div(class = "column")
            h1.category Design
            div.skill-ai
                +skills-properties
            div.skill-ps
                +skills-properties
            h1.category Html Preprocessor
            div.skill-pug
                +skills-properties
            div.tools
                div.skill-git
                    div.skill-icon
                div.skill-npm
                    div.skill-icon
                div.skill-gulp
                    div.skill-icon
