doctype
html(lang = 'en')
    include _mixins.pug
    head
        meta(charset = 'UTF-8')
        meta(name = 'viewport', content = 'width=device-width', initial-scale = 1, maximum-scale = 1, user-scalable = 0)
        meta(http-equiv = 'X-UA-Compatible', content = 'ie=edge')
        meta(name = 'description', content = 'Online portfolio of Art San Diego, a freelance web developer and an aspiring front end web dev and ux designer. | November 2016')
        meta(name = 'author', content = 'Artemio A. San Diego')
        meta(name = 'keywords', content = 'portfolio, art san diego, artemio san diego, web development, front end web development')
        title Art San Diego | Portofolio
        link(rel = 'shortcut icon' type = 'image/png' href = './assets/images/logo.png')
        link(rel = 'stylesheet' type = 'text/css' href = './assets/css/lib/lib.min.css')
        link(rel = 'stylesheet' type = 'text/css' href = './assets/css/app.min.css')
        +html5shiv
    body
        //===========
        include _constant.pug
        //===========
        div.fullpage
            div.top-image
            div.section#intro-section
                include _intro.pug
            div.section#project-section
                include _project.pug
            div.section#skills-section
                include _skills.pug
            div.section#about-section
                include _about.pug
            div.section#contact-section
                include _contact.pug
        script(type = 'text/javascript' src = './assets/js/lib/lib.min.js')
        script(type = 'text/javascript' src = './assets/js/app.min.js')
