div.container-fluid
    div.centerString
        div(class = "staticString animated fadeInDown") Hello, I'm <span class="name">Art</span>
        span.typed
        div(class = "scroll-down animated bounce" id = "scroll-indicator")
            a(href = "#projects")
                span#triangle
