@import "partials/variables";
@import "partials/mixins";
@import "partials/fullpagenav";
@import "partials/constant";
@import "partials/intro";
@import "partials/projects";
@import "partials/skills";
